RewriteEngine On
Options +FollowSymLinks  

# Unless directory, remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/$ http://leapctf.siteground.net/chat/$1 [R=301,L]

# Redirect external .php requests to extensionless url
RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
RewriteRule ^(.+)\.php$ http://leapctf.siteground.net/chat/$1 [R=301,L]

# Resolve .php file for extensionless php urls
RewriteRule ^([^/.]+)$ $1.php [L]

# No get parameter for profile username
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^profile/(.*)$ ./profile.php?$1 


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^chat/(.*)$ chat.php?$1 

# 404 error (not found)
ErrorDocument 404 /chat/error.php?error=404
ErrorDocument 500 /chat/error.php?error=500

<filesMatch "\.(php|htm|js|css)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>